@import "tailwindcss";

/* Ensure full height for app container */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* GLOBAL SCROLLBAR STYLES */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937; /* Tailwind gray-800 */
}

::-webkit-scrollbar-thumb {
  background: #4b5563; /* Tailwind gray-600 */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* Tailwind gray-500 */
}

* {
  user-select: none;
}

img {
  pointer-events: none;
}

/* .drag-zone {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
} */
